body {
  padding: 38px 50px;
  font: 13px "Inter", Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 680px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 18px;
}

.postComment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postComment.hidden {
  display: none;
}

.postComment .avatar {
  margin-right: 10px;
}

.postComment textarea {
  border: 1px solid #E5E5E5;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 6px 10px;
  flex: 1;
}

.postComment button {
  background: #7E34F7;
  border-radius: 4px;
  padding: 6px 12px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  line-height: 16.5px;
  border: none;
  cursor: pointer;
}

.postComment button:hover {
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}

hr {
  border: 1px solid #e5e5e5;
  border-width: 1px 0 0 0;
  margin: 42px 0;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.comment .avatar {
  margin-right: 11px;
}

.commentDetails {
  display: flex;
  flex-direction: column;
  color: #21293C;
  flex: 1;
}

.commentHeader .name {
  font-weight: 600;
  margin-right: 4px;
}

.commentHeader .date {
  margin-left: 4px;
  color: #4B587C;
  font-size: 11px;
}

.commentText {
  margin: 4px 0 14px;
}

.commentLinks a {
  color: #4B587C;
  font-size: 11px;
  margin-right: 28px;
  cursor: pointer;
}

.commentDetails .postComment {
  margin-top: 8px;
}

.nestedComments .comment {
  margin: 25px 0;
}

.commentSidebar {
  position: relative;
}

.commentSidebar .threadIndicator {
  position: absolute;
  top: 0;
  bottom: 25px;
  left: 14px;
  width: 2px;
  border-left: 2px solid #EAEAEA;
  z-index: -1;
}
